#header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  color: #fff;

  .place-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
	  background-color: #03c95a;
    height: $place-header-height;

    .store-name {
      display: flex;
      align-items: center;
      font-size: 20px;
      font-weight: 600;
    }

    .my-oder {
      padding-right: $m-padding;
      font-size: 15px;
      font-weight: 700;
    }

  }

  .place-tab {
    display: flex;
    height: $place-tab-height;
    background-color: #03b753;

    .tab-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      @include scroll-x;

      .tab {
        flex: 1;
        padding: 0 12px;
        font-size: 16px;
        text-align: center;
        opacity: 0.7;

        &.is-active {
            font-weight: 700;
            opacity: 1;

            .txt::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 2px;
                background-color: #fff;
            }
        }

        .txt {
            position: relative;
            display: inline-block;
            padding: 0 4px;
            line-height: $place-tab-height;
        }
      }
    }
  }
}