.initial-layout {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#000000, 0.8);
  
}

.order-type-popup {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 32px 0;
  border-radius: 16px 16px 0 0;
  text-align: center;
  background-color: #fff;
  
  .title {
	font-size: 20px;
	font-weight: 700;
	color: #000;
  }
  
  .order-type-list {
	display: flex;
	margin-top: 32px;
	
	.order-item {
	  flex: 1;
	  
	  .icon {
		width: 100px;
		height: auto;
		color: $booking-color-bg118;
	  }
	  .desc {
		margin-top: 8px;
		font-size: 15px;
		line-height: 1.5;
		font-weight: 600;
		color: #000000;
	  }
	  .btn-selection {
		display: inline-block;
		margin-top: 10px;
		padding: 6px 18px;
		font-size: 16px;
		font-weight: 700;
		border-radius: 28px;
		background-color: #424242;
		color: #fff;
	  }
	}
  }
}

